<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.easypoi.mapper.WheelMapper">

  <resultMap id="BaseResultMap" type="com.test.easypoi.pojo.Wheel">
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="material" jdbcType="VARCHAR" property="material" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="out_com_date" jdbcType="TIMESTAMP" property="outComDate" />
  </resultMap>
  <sql id="Base_Column_List">
    brand, material, price, out_com_date
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wheel
    where brand = #{brand,jdbcType=VARCHAR}
  </select>

  <insert id="insertSelective" parameterType="com.test.easypoi.pojo.Wheel">
    insert into wheel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="brand != null">
        brand,
      </if>
      <if test="material != null">
        material,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="outComDate != null">
        out_com_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="material != null">
        #{material,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="outComDate != null">
        #{outComDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.test.easypoi.pojo.Wheel">
    update wheel
    <set>
      <if test="material != null">
        material,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="outComDate != null">
        out_com_date,
      </if>
    </set>
    where brand = #{brand,jdbcType=VARCHAR}
  </update>
</mapper>